* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	color: rgb(66, 66, 66);
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
}

.wrapper {
	text-align: center;
	font-size: 1.4rem;
}

/* Header */
#main-header {
	background: #f4f4f4;
}

#main-header .name,
#main-header .nav-links li a {
	padding: 1.2rem;
}

#main-header .nav-links {
	margin: 2rem 2rem 4rem 2rem;
}

#main-header .nav-links li a {
	display: block;
	background: #fff;
	margin: 0.5rem 0;
}

#main-header .profile img {
	width: 70%;
}

#main-header .profile p {
	padding: 2.5rem;
}

/* Portfolio */
#portfolio {
	padding: 2rem;
}

#portfolio h3 {
	padding-top: 4rem;
	padding-bottom: 2rem;
}

#portfolio img {
	width: 100%;
}

#portfolio .item {
	margin: 4rem 0;
}

#portfolio .item h2 {
	padding: 2rem;
}

/* Contact */

#contact {
	background: #f4f4f4;
	padding: 2rem 2rem 5rem 2rem;
}

#contact h3 {
	padding: 4rem;
}

#contact p {
	font-size: 1.6rem;
}

/* footer*/
footer {
	background: #f4f4f4;
	padding: 2rem;
}

footer .main-footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid rgb(182, 182, 182);
	padding: 2rem 0;
}

footer .footer-nav {
	display: none;
}

footer .footer-nav li {
	padding: 0 1rem;
}

/* Media Queries*/
@media (min-width: 769px) {
	.wrapper {
		font-size: 1.6rem;
	}

	#main-header,
	#main-header .nav-links,
	#main-header .profile,
	#portfolio .row {
		display: flex;
	}

	#main-header {
		flex-direction: column;
		align-items: center;
		padding: 2rem;
	}

	#main-header .nav-links {
		align-items: center;
		justify-content: center;
	}

	#main-header .nav-links li a {
		background: none;
		margin: 0;
	}

	#main-header .profile {
		padding-bottom: 4rem;
		text-align: justify;
	}

	#main-header .profile img {
		order: 1;
		width: 40%;
	}

	#main-header .profile p {
		align-self: flex-start;
		padding: 0 1rem;
	}

	#portfolio {
		padding: 0;
	}

	#portfolio .row {
		justify-content: center;
		flex-wrap: wrap;
	}

	#portfolio .row .item {
		width: 45%;
		margin: 2rem 1rem 4rem 1rem;
	}

	#contact p {
		width: 70%;
		margin: auto;
	}

	footer .footer-nav {
		display: flex;
	}

	.hide-desktop {
		display: none;
	}
}

@media (min-width: 1025px) {
	#main-header {
		font-size: 1.8rem;
	}

	#main-header nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	#main-header .name,
	#main-header .nav-links li {
		padding: 2rem;
	}

	#main-header .nav-links {
		margin: 0rem;
	}

	#main-header .profile {
		padding: 2rem 1rem;
		margin: 2rem 0;
	}

	#main-header .profile img {
		width: 100%;
	}

	#main-header .profile p {
		width: 90%;
		margin-right: 2rem;
	}

	.container {
		max-width: 1150px;
		margin: auto;
	}

	.wrapper {
		background: #f4f4f4;
	}

	section {
		background: #fff;
	}

	#portfolio .row .item {
		width: 30%;
	}

	#contact p {
		width: 40%;
	}
}
